@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Sour Gummy", sans-serif;
    
  }

  body {
    background-image: 
    url('./assets/bg-pattern.png'),
    radial-gradient(circle at top, rgba(241, 210, 70, 0.98), rgba(250, 176, 103, 0.87));
      background-size: 100% 100%, 100% 100%;
      background-position: center, top;
      background-repeat: no-repeat, no-repeat;
      min-height: 110rem;/* 110rem = 1760px */
  }